.root {
  max-width: 1306px;
  max-height: 890px;
  margin: auto;
  border-radius: 10px;
  background: radial-gradient(
    158.02% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.19) 83.33%,
    #000 100%
  );
}
