.content {
  display: flex;
  flex-direction: column;
  position: relative;
  .vector-1 {
    width: 338px;
    height: 208px;
    background-image: url(../../images/vector1.svg);
    background-repeat: no-repeat;
    position: absolute;
  }
  .vector-2 {
    width: 338px;
    height: 208px;
    background-image: url(../../images/vector2.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
  }
  .vector-3 {
    width: 338px;
    height: 208px;
    background-image: url(../../images/vector3.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    right: 0;
    transform: translateX(20px);
  }
  .vector-4 {
    width: 338px;
    height: 208px;
    background-image: url(../../images/vector4.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotateY(180deg);
  }
  h1 {
    color: #fff;
    font-family: Inter;
    font-size: 41.455px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px auto 69px;
  }
  .list-card {
    all: unset;
    display: flex;
    padding: 0px 160px 99px;
    .card {
      all: unset;
      width: 334px;
      padding: 38px 0px 28px;
      border-radius: 11.354px;
      box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);

      .title-conteiner {
        padding: 0px 60px;

        h2 {
          color: #fff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0px 0px 15px;
        }
        .price {
          display: flex;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 8.5px;
          visibility: hidden;
          opacity: 0;
          .currency {
            color: #fff;
            font-family: Inter;
            font-size: 11.354px;
            font-style: normal;
            font-weight: 500;
            line-height: 128.023%;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
          .number {
            color: #fff;
            font-family: Inter;
            font-size: 37.848px;
            font-style: normal;
            font-weight: 800;
            line-height: 128.023%;
            align-self: flex-end;
            margin-right: 5px;
          }
          .period {
            margin: 0px 0px 7px 0px;
            color: rgba(255, 255, 255, 0.7);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: flex-end;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .price-visibil {
          visibility: visible;
          opacity: 1;
          transition: opacity 2s linear;
        }
        p {
          color: rgba(255, 255, 255, 0.8);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin: 15px 0px 27px;
        }
      }
      .title-conteiner_border_solid {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
    .card-top {
      position: relative;
      top: -37px;
      z-index: 1;
    }
    .card-right {
      position: relative;
      right: 16px;
    }
    .card-left {
      position: relative;
      left: 16px;
    }
    .card_color_green {
      background: #6a994e;
    }
    .card_color_black {
      background: #1d252b;
    }
    .list-conteiner {
      padding: 22px 60px 0px;
      min-height: 360px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 0px 0px 10px;
        color: #fff;
        font-family: Inter;
        font-size: 15.139px;
        font-style: normal;
        font-weight: 600;
        line-height: 128.023%;
      }
      p {
        margin: 0px 0px 24px;
        color: #fff;
        font-family: Inter;
        font-size: 13.247px;
        font-style: normal;
        font-weight: 500;
        line-height: 128.023%;
      }
      .list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        li {
          all: unset;
          display: flex;
          align-items: center;
          color: #fff;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 128.023%;
          &::before {
            content: '';
            margin-right: 7.5px;
            display: block;
            width: 6px;
            height: 10px;
            background-image: url(../../images/point.svg);
            background-repeat: no-repeat;
          }
        }
        .list_style_light {
          color: rgba(255, 255, 255, 0.8);
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 128.023%;
        }
      }
      button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 12px 22px;
        border-radius: 7px;
        border: 0.864px solid #d0d0d0;
        background: #6a994e;
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #fff;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 128.023%;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }

        .button-img {
          display: flex;
          margin-left: 9.5px;
          width: 16px;
          height: 16px;
          border-radius: 65.967px;
          background: rgba(255, 255, 255, 0.6);
        }
        .button-img::after {
          content: '';
          display: block;
          margin: auto;
          width: 4px;
          height: 6px;
          background-repeat: no-repeat;
          background-image: url(../../images/s.svg);
          background-size: cover;
        }
      }
      .button_color_red {
        border: 0.864px solid #d66567;
        background: #bc4749;
      }
      .button_margin_big {
        margin-bottom: 13px;
      }
    }
  }
}
